/* =============
    Hero
============= */

#hero{

    #hero-bottom{
        text-align: left;

        @include md{
            display: grid;
            grid-template-columns: 40% auto;
        }

        @include lg{
            grid-template-columns: 50% auto;
        }

        section{
            display: grid;
            grid-template-areas: ". hero-sub .";

            >div{
                grid-area: hero-sub;
            }
        }

        #hero-bottom-left{
            background-color: var(--blue-green);

            >div{
                h1{
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 20px;

                }
                
                a{
                    color: var(--grey);
                }
                i{
                    color: var(--grey);
                }
            }
            
            @include xxl{
                grid-template-columns: 20% auto 16px;
            }
        }

        #hero-bottom-right{
            background-color: var(--light-blue);

            >div{
                h3{
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 19px;
                }
                a{
                    color: var(--grey);
                }
                i{
                    color: var(--grey);
                }
            }
            @include xxl{
                grid-template-columns: 16px auto 20%;
            }
        }
    }
    
}