/* =============
    Sub-Hero
============= */

#sub-hero{
    @include md{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". sub-hero-cards .";

        @include xxl{
            grid-template-columns: auto 1200px auto;
        }
    }
    >div{
        display: grid;
        gap: 16px;
        margin-bottom: 16px;
        
        
        
        
        @include md{
            grid-area: sub-hero-cards;
            grid-template-columns: 50% auto;
            margin-bottom: 50px;
            padding: 0px 5px;
        }

        >aside{
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". sub-hero .";
            background-color: var(--light-grey);
            margin-top: 16px;
            padding: 16px;
            
            
            
            >div{
                    aside{
                         
                            #circle-img{
                                background-image: url("../img/subHero/wheelicon.jpg");
                                background-position: center;
                                background-position: center;
                                background-size: cover;
                                width: 100%;
                                padding-bottom: 100%;
                                border-radius: 50%;
                         }
                         #circle-img2{
                            background-image: url("../img/subHero/engineicon.jpg");
                            background-position: center;
                                background-position: center;
                                background-size: cover;
                                width: 100%;
                                padding-bottom: 100%;
                                border-radius: 50%;
                         }

                    }
                
                grid-area: sub-hero;
                display: grid;
                grid-template-columns: 70% auto;

                a{
                    color: var(--black2);
                    background-color: var(--light-blue);
                    padding: 3px;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 16px;
                }
                h1{
                    font-weight: 700;
                    font-size: 29px;
                    line-height: 35px;      
                }
                
            }
        }
    }
    
}