/* =============
   header
============= */
#gallery {
  display: grid;
  grid-template-columns: 16px auto 16px;
  grid-template-areas: ". gallery .";
  
  @include xxl{
    grid-template-columns: auto 1440px auto;
    
 }
 
  > div {
    grid-area: gallery;

    ul {
      
      margin: 0;
      padding: 0;
      display: grid;
      gap: 0px;

      @include md {
        grid-template-columns: repeat(2, 1fr);
      }

    }

    li {
      list-style: none;
      align-items: center;

      

        
      }
    }
  }
