/* =============
   header
============= */
#gallery{
    display: grid;
    grid-template-columns: (repeat, 1fr);
    grid-template-areas: "image" ;
   
   

    >div{
        grid-area: gallery ;
        margin: 0;
        padding: 0;
        display: grid;
        gap: 24px;
      
      ul{
        list-style: none;
        align-items: center;
        @include md {
            grid-template-columns: repeat(50%, 50%);
          }
      }
    }
}