/* =============
   hereos
============= */
#hero{ 
   display: grid;
  grid-template-columns: (repeat, 1fr);
  grid-template-areas: "image";

  @include xxl{
   grid-template-columns: auto 1440px auto;
}

    >div{
      grid-area: hero;
      aside{
         @include md {
            grid-template-columns: repeat(2, 1fr);
          }
      }
      
      
     
          
          
      }
    }

  #car{
   background-color: rgba(9, 188, 188, 1);
   padding-top: 15px;
   padding-bottom: 15px;
   padding-left: 15px;

  }
#location{
   background-color: rgba(5, 255, 255, 1);
   padding-top: 15px;
   padding-bottom: 15px;
   padding-left: 15px;
}




/*---------- hero 2 ---------------*/

#hero2{

}