/* =============
   hereos
============= */
#hero{ 
#box1{
   background-color: rgba(9, 188, 188, 1);
   padding-top: 25px;
   padding-bottom: 25px;
}
#box2{
   background-color: rgba(5, 255, 255, 1);
   padding-top: 25px;
   padding-bottom: 25px;
}

#ride{
   background-color: rgba(126, 126, 119, 1); 
   
}
#engine{
   background-color: rgba(126, 126, 119, 1); 
}
}




/*---------- hero 2 ---------------*/

#hero2{

}