/* =============
   hereos
============= */
#hero {
  display: grid;
  grid-template-columns: 0px auto 0px;
  grid-template-areas: ". hero .";

  @include xxl {
    grid-template-columns: auto 1440px auto;
  }

  > div {
    grid-area: hero;
    ul {
      margin: 0;
      padding: 0;
      display: grid;
      gap: 0px;

      @include md {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    li {
      list-style: none;
      align-items: center;
    }
  }
  #car {
    background-color: rgba(9, 188, 188, 1);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;

    
  }
  #location {
    background-color: rgba(5, 255, 255, 1);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
  }
}

/*---------- hero 2 ---------------*/

#hero2 {
}
