/* =============
   underhero
============= */
#underhero{
    
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". underhero .";
    
    @include xxl{
      grid-template-columns: auto 1440px auto;
      
   }
   
    > div{
      grid-area: underhero;
  
      ul{
        margin: 16px;
        padding: 0;
        display: grid;
        gap: 0px;
  
        @include md {
          grid-template-columns: 50% auto;
        }
  
      }
  
      li {
        gap: 16px;
        list-style: none;
        align-items: center;
        padding: 16px;
        margin-bottom: 16px;
        background-color:  rgba(126, 126, 119, 1);
  
        
  
          
        }
    }
}