/* =============
    Header
============= */
header{

    #logo-nav{
        display: flex;
        // grid-template-columns: 16px auto 16px;
        // grid-template-areas: ". logo-nav .";
        >div{
            background-color: var(--grey);
            width: 100%;
            // grid-area: logo-nav;
        }
        
    }

    #form-content{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". search .";
        >div{
            background: white;
            grid-area: search;
        }
    }
}